.typewriter {
  display: flex;
  justify-content: center;
  font-family: monospace;
}

.typewriter > p {
  max-width: 0;
  animation: typing 3s steps(var(--characters)) 1 forwards;
  white-space: nowrap;
  overflow: hidden;
}

.typewriter::after {
  content: " |";
  animation: blink 1s infinite;
  animation-timing-function: step-end;
}

@keyframes typing {
  75%,
  100% {
    max-width: calc(var(--characters) * 1ch);
  }
}

@keyframes blink {
  0%,
  75%,
  100% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
}
