@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Roboto:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
  color: #3d3d3d;
}
body {
  width: 100vw;
  padding: 0 20px;
}

.content {
  margin-top: 60px;
}
.container {
  width: 800px;
  margin: 0 auto;
  margin-top: -50px;
  padding: 80px 50px;
  box-shadow: 2px 8px 10px -3px hsla(0, 0%, 0%, 0.3);
}
