.container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.container a {
  font-size: 20px;
  padding: 10px 20px;

  border: 1px solid gray;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius: 15px 255px;

  transition: 0.2s ease-in;
}
.container a:hover {
  background-color: rgb(253 186 116);
}
.container a:hover {
  background-color: rgb(255 237 213);
}
